@model List<CommentModel>

@foreach (var c in Model)
{
    <div class="d-flex mb-3">
            <div>
                <a asp-action="Profile" asp-controller="User" asp-route-id="@c.Commentator.Id">
                    <img src="@c.Commentator.PhotoPath" class="comment-user-photo" alt="User photo" />
                </a>
            </div>
            <div class="comment-user bg-light ml-2 p-2 d-flex align-items-center flex-column">
                <a asp-action="Profile" asp-controller="User" asp-route-id="@c.Commentator.Id" class="align-self-start">
                    <p class="mb-1 font-weight-bold">
                        @c.Commentator.FirstName @c.Commentator.LastName
                    </p>
                </a>
                <p class="mb-0 align-self-start">
                    @c.Content
                </p>
            </div>
        </div>


        //USE CODE BELLOW WHEN ENTITY FRAMEWOEK CORE 6.0 GETS RELEASED

    @*<div class="d-flex mb-3">
        <div>
            <a asp-action="Profile" asp-controller="User" asp-route-id="@c.CommentatorId">
                <img src="@c.CommentatorPhotoPath" class="comment-user-photo" alt="User photo" />
            </a>
        </div>
        <div class="comment-user bg-light ml-2 p-2 d-flex align-items-center flex-column">
            <a asp-action="Profile" asp-controller="User" asp-route-id="@c.CommentatorId" class="align-self-start">
                <p class="mb-1 font-weight-bold">
                    @c.CommentatorFirstName @c.CommentatorLastName
                </p>
            </a>
            <p class="mb-0 align-self-start">
                @c.Content
            </p>
        </div>
    </div>*@
}