@model List<IngredientModel>

@foreach (var i in Model)
{
<div class="mb-2">
    <button type="button" class="ingredient-btn btn btn-outline-success d-flex rounded-pill p-0 align-items-center" data-toggle="modal" data-target="#ModalCenter-ingredient">
        <img class="ingredient-photo rounded-pill" src="~/Photos/DefaultIngredientPhoto.jpg" alt="@i.Name" />
        <p class="mb-0 ml-3 mr-3">
            @i.Name
        </p>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ModalCenter-ingredient" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle-ingredient">@i.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div>
                        <img class="modal-body-photo rounded" src="@i.PhotoPath" alt="@i.Name photo" />
                    </div>

                    <div class="verical-line h-auto bg-secondary ml-3 mr-3">

                    </div>

                    <div class="modal-body-info">                        
                        @i.Description
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
}