@model List<PostModel>
@{
    ViewData["Title"] = "Profile";

    AppUserModel userProfile = ViewBag.UserProfile;

    AppUser currentLoggedInUser = ViewBag.CurrentUser;
}

<div class="d-flex flex-column">
    <div class="user-profile-background bg-success mb-4 mt-3 rounded-circle w-100 d-flex flex-column flex-sm-row align-items-center">
        <img src="@userProfile.PhotoPath" alt="User photo" class="user-profile-photo img-fluid img-thumbnail" />
        <div class="user-profile-info ml-0 ml-sm-5 align-self-center font-weight-light d-flex flex-sm-row flex-column justify-content-sm-between justify-content-center w-100 align-items-center">
            <div class="mb-3 mb-sm-0">
                <p class="mb-2 text-white">
                    Name: @userProfile.FirstName @userProfile.LastName
                </p>
                <p class="mb-2 text-white">
                    DOB: @userProfile.DateOfBirth.ToShortDateString()
                </p>
                <p class="mb-2 text-white">
                    Email: @userProfile.Email
                </p>
                <p class="mb-2 text-white">
                    Gender: @userProfile.Gender
                </p>
                @if (!string.IsNullOrWhiteSpace(userProfile.Country))
                {
                    <p class="mb-0 text-white">
                        From: @userProfile.Country
                    </p>
                }
            </div>

            @if (currentLoggedInUser.Id != userProfile.Id)
            {
                @if (userProfile.IsBeingFollowed)
                {
                    <div class="mr-0 mr-sm-5 pl-3 p-sm-5 pr-3 pb-3">
                        <button id="followButton" class="btn btn-danger">Unfollow</button>
                    </div>
                }
                else
                {
                    <div class="mr-0 mr-sm-5 pl-3 p-sm-5 pr-3 pb-3">
                        <button id="followButton" class="btn btn-primary">Follow</button>
                    </div>
                }
            }
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(userProfile.About))
    {
        <div class="user-profile-about pl-5 pr-5 align-self-center font-weight-light">
            <p class="text-break text-center">
                @userProfile.About
            </p>
        </div>
    }
    <div class="d-flex row mt-3 flex-sm-row flex-column">
        <div class="friends-and-yums col-sm-3 col-12 mb-5 pl-4 pr-4">
            <div class="list-group">
                <button id="following-btn" type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-user"></i>
                    Following
                </button>
                <button id="followers-btn" type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-users"></i>
                    Followers
                </button>
                <button id="yummed-posts-btn" type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-thumbs-up"></i>
                    Liked posts
                </button>
            </div>
        </div>

        <div class="verical-line h-auto ml-3 mr-3 bg-secondary">

        </div>

        <div class="userposts col-sm-8 col-12">
            @if (currentLoggedInUser.Id == userProfile.Id)
            {
                <partial name="_AddNewPostPartial" />
            }
            <div id="hide-and-seek">
                <partial name="_UserPostsPartial" />
            </div>
        </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/PostRelatedScript.js"></script>
    <script src="~/js/NewPostScripts.js"></script>
    <script>
        //Start of ajax call for getting liked posts of specified user
        $(document).ready(function () {
            $('#yummed-posts-btn').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/User/GetYummedPosts/@userProfile.Id',
                    success: function (yummedPosts) {
                        $('#all-user-posts').hide();
                        $('#add-new-post-btn').hide();

                        if ($('#follow-div').length) {
                            $('#follow-div').remove();
                        }

                        var hideAndSeekDiv = document.getElementById('hide-and-seek');
                        var followDiv = document.createElement('div');
                        followDiv.setAttribute('id', 'follow-div');
                        followDiv.classList.add('d-flex', 'flex-wrap', 'flex-column');

                        var backButton = `
                            <div class="following-div-btn">
                                <button class="btn bg-transparent" onclick="GoBack()">
                                    <i class="fas fa-chevron-left mr-3"></i>Back
                                </button>
                            </div>
                        `;
                        followDiv.innerHTML += backButton;

                        var allUserPosts = document.getElementById('all-user-posts');

                        yummedPosts.forEach((post) => {
                            var mainDiv = document.createElement('div');
                            mainDiv.classList.add('d-flex');
                            followDiv.appendChild(mainDiv);//

                            var yumCounterDiv = document.createElement('div');
                            yumCounterDiv.classList.add('number-of-yums', 'pt-1', 'd-flex', 'flex-column', 'align-items-center', 'rounded-circle', 'bg-success');
                            yumCounterDiv.innerHTML = `
                                <p id="yum-counter-${post.id}" class="mb-0 text-white">${post.numberOfYums}</p>
                                <p class="text-white">Yums</p>
                            `;
                            mainDiv.appendChild(yumCounterDiv);

                            var bigDiv = document.createElement('div');
                            bigDiv.classList.add('post', 'd-inline-flex', 'flex-column', 'w-100', 'ml-4', 'mb-3', 'p-4');
                            mainDiv.appendChild(bigDiv);

                            var postInfoDiv = document.createElement('div');
                            postInfoDiv.classList.add('user-time-options', 'row', 'd-flex', 'justify-content-between', 'mb-3');
                            postInfoDiv.innerHTML = `
                                <div class="media">
                                    <div class="d-flex flex-column flex-sm-row">
                                        <a href="/User/Profile/${post.user.id}">
                                            <img src="${post.user.photoPath}" class="post-profile-photo img-fluid rounded-circle" alt="User photo">
                                        </a>
                                        <div class="media-body d-flex flex-column justify-content-between ml-2">
                                            <a href="/User/Profile/${post.user.id}">
                                                <p class="post-username text-nowrap mb-0 font-weight-bold">
                                                    ${post.user.firstName} ${post.user.lastName}
                                                </p>
                                            </a>
                                            <p class="post-time text-nowrap mb-0">
                                                ${post.timeOfPosting}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="dropdown mr-3">
                                        <button class="btn bg-transparent dropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Report</button>
                                        </div>
                                    </div>
                                </div>
                            `;
                            bigDiv.appendChild(postInfoDiv);

                            if (post.ingredients.length) {
                                var allIngredientsDiv = document.createElement('div');
                                allIngredientsDiv.classList.add('ingredients', 'mb-3');
                                allIngredientsDiv.innerHTML = `
                                     <p class="mb-2">
                                        Necessary ingredients:
                                    </p>
                                `;

                                post.ingredients.forEach((ingredient) => {
                                    var ingredientDiv = document.createElement('div');
                                    ingredientDiv.classList.add('mb-2');

                                    var ingredientHtml = `
                                        <button type="button" class="ingredient-btn btn btn-outline-success d-flex rounded-pill p-0 align-items-center" data-toggle="modal" data-target="#ModalCenter-ingredient1">
                                            <img class="ingredient-photo rounded-pill" src="${ingredient.photoPath}" alt="${ingredient.name}" />
                                            <p class="mb-0 ml-3 mr-3">
                                                ${ingredient.name}
                                            </p>
                                        </button>

                                        <div class="modal fade" id="ModalCenter-ingredient1" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalCenterTitle-ingredient">${ingredient.name}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body d-flex">
                                                        <div>
                                                            <img class="modal-body-photo rounded" src="${ingredient.photoPath}" alt="${ingredient.name} photo" />
                                                        </div>

                                                        <div class="verical-line h-auto bg-secondary ml-3 mr-3">

                                                        </div>

                                                        <div class="modal-body-info">
                                                            ${ingredient.description}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `;

                                    ingredientDiv.innerHTML = ingredientHtml;
                                    allIngredientsDiv.appendChild(ingredientDiv)
                                });

                                bigDiv.appendChild(allIngredientsDiv);
                            }

                            var contentDiv = document.createElement('div');
                            contentDiv.classList.add('content');
                            contentDiv.innerHTML = `
                                <p class="mb-0">
                                    ${post.content}
                                </p>
                            `;
                            bigDiv.appendChild(contentDiv);

                            if (post.notes) {
                                var notesDiv = document.createElement('div');
                                notesDiv.classList.add('notes', 'mt-4');
                                notesDiv.innerHTML = `
                                     <p>
                                        NOTES: ${post.notes}
                                    </p>
                                `;
                                bigDiv.appendChild(notesDiv);
                            }

                        });
                        hideAndSeekDiv.appendChild(followDiv);
                        $('#follow-div').show();
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        //End of ajax call for getting liked posts of specified user

        //Start of ajax call for getting followers of specified user
        $(document).ready(function () {
            $('#followers-btn').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/User/GetFollowers/@userProfile.Id',
                    success: function (users) {
                        $('#all-user-posts').hide();
                        $('#add-new-post-btn').hide();

                        if ($('#follow-div').length) {
                            $('#follow-div').remove();
                        }

                        var hideAndSeekDiv = document.getElementById('hide-and-seek');
                        var followDiv = document.createElement('div');
                        followDiv.setAttribute('id', 'follow-div');
                        followDiv.classList.add('d-flex', 'flex-wrap');

                        var backButton = `
                            <div class="following-div-btn">
                                <button class="btn bg-transparent" onclick="GoBack()">
                                    <i class="fas fa-chevron-left mr-3"></i>Back
                                </button>
                            </div>
                        `;
                        followDiv.innerHTML += backButton;

                        users.forEach((user) => {
                            var usersHtml = `
                                <div class="ml-3 mt-2 mr-3">
                                    <figure class="figure">
                                        <a href="/User/Profile/${user.id}">
                                            <img src="${user.photoPath}" class="figure-img img-fluid rounded-circle follow-photo" alt="User photo" >
                                            <figcaption class="figure-caption text-center">
                                                ${user.firstName} ${user.lastName}
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            `;

                            followDiv.innerHTML += usersHtml;
                        });
                        hideAndSeekDiv.appendChild(followDiv);
                        $('#follow-div').show();
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        //End of ajax call for getting followers of specified user


        //Start of ajax call for getting users that are followed by specified user
        $(document).ready(function () {
            $('#following-btn').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/User/GetFollowingUsers/@userProfile.Id',
                    success: function (users) {
                        $('#all-user-posts').hide();
                        $('#add-new-post-btn').hide();

                        if ($('#follow-div').length) {
                            $('#follow-div').remove();
                        }

                        var hideAndSeekDiv = document.getElementById('hide-and-seek');
                        var followDiv = document.createElement('div');
                        followDiv.setAttribute('id', 'follow-div');
                        followDiv.classList.add('d-flex','flex-wrap');

                        var backButton = `
                            <div class="following-div-btn">
                                <button class="btn bg-transparent" onclick="GoBack()">
                                    <i class="fas fa-chevron-left mr-3"></i>Back
                                </button>
                            </div>
                        `;
                        followDiv.innerHTML += backButton;

                        users.forEach((user) => {
                            var usersHtml = `
                                <div class="ml-3 mt-2 mr-3">
                                    <figure class="figure">
                                        <a href="/User/Profile/${user.id}">
                                            <img src="${user.photoPath}" class="figure-img img-fluid rounded-circle follow-photo" alt="User photo" >
                                            <figcaption class="figure-caption text-center">
                                                ${user.firstName} ${user.lastName}
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            `;

                            followDiv.innerHTML += usersHtml;
                        });
                        hideAndSeekDiv.appendChild(followDiv);
                        $('#follow-div').show();
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        ////End of ajax call for getting users that are followed by specified user

        //Shows user posts and hides users
        function GoBack() {
            $('#all-user-posts').show();
            $('#add-new-post-btn').show();
            $('#follow-div').remove();
        }
        //

        //Start of ajax call for following
        var doesFollow = '@userProfile.IsBeingFollowed.ToString()'.toLowerCase();
        $(document).ready(function () {
            $('#followButton').click(function () {
                if (doesFollow) {
                    $.ajax({
                    type : 'POST',
                    url : '/User/UnfollowUser/@userProfile.Id.ToString()',
                    success: function () {
                        $('#followButton').removeClass('btn-danger').addClass('btn-primary').text('Follow');
                        doesFollow = !doesFollow;
                    },
                    error: function (response) {
                        alert(response.responseText);
                        }
                })
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/User/FollowUser/@userProfile.Id.ToString()',
                        success: function () {
                            $('#followButton').removeClass('btn-primary').addClass('btn-danger').text('Unfollow');
                            doesFollow = !doesFollow;

                            connection.invoke('AddNewNotificationsBE', @userProfile.Id.ToString()).catch(function (err) {
                                return console.log(err.toString());
                            });
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    })
                }
            });
        });
    </script>
}
