@model AppUserModel

@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

@*<div>
        @Html.ViewContext.HttpContext.Request.Cookies["ai_user"]
    </div>*@

<h4>@Model.FirstName @Model.LastName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Settings" asp-controller="User" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<input type="hidden" asp-for="SecurityStamp" />*@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="inputEmail" onkeyup="updateUsername(this.value)" />
                <input asp-for="Username" type="hidden" value="@Model.Username" id="inputUsername" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country" asp-items="@ViewBag.Countries as SelectList" class="form-control">
                    <option>Please select</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<GenderEnum>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control non-resizable-textarea" rows="3" placeholder="Write something about yourself"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <br />
                <input id="imgInp" type="file" asp-for="Photo" />
                <input id="imgName" type="hidden" asp-for="PhotoPath" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-end">
                <a asp-action="Profile" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Save" class="ml-3 btn btn-success" />
            </div>
        </form>
    </div>
    <div>
        <img id="slika" src="@Model.PhotoPath" alt="User photo" class="img-fluid ml-5 user-settings-photo" />
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="/js/ImageLoader.js"></script>
    <script>
        function updateUsername(emailValue) {
            var inputUsername = document.getElementById('inputUsername');
            inputUsername.value = emailValue;
        }
    </script>
}