@model IngredientModel

@{
    ViewData["Title"] = "Ingredient Info";
}

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.PhotoPath" alt="IngredientPhoto" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Profile" asp-controller="User" asp-route-id="@ViewBag.CurrentUserId">Back</a>
</div>

@section Scripts{
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/SignalR.js"></script>
}
